* {
    margin: 0;
    padding: 0;
}

#main {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#form {
    display: flex;
    flex-direction: column;
    background-color: green;
    height: 20%;
    width: 30%;
    position: absolute;
    text-align: center;
    color:white;
    justify-content: space-around;
    h2 {
        font-size: 250%;
        border-bottom: 1px solid white;
    }
}

#inputs {
    display: flex;
    flex-direction: column;
    background-color: red;
    position: relative;
    left: 25%;
    justify-content: space-between;
    width: 50%;
}

#stuff {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#submit {
    width: 50%;
}